body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px; /* Aumenta el tamaño base de la fuente */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px; /* Tamaño de fuente para el título */
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px; /* Tamaño de fuente para las etiquetas */
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px; /* Tamaño de fuente dentro de los cuadros de texto */
}

/* Ocultar flechas en los inputs de tipo number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Para Firefox */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px; /* Tamaño de fuente para el botón */
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 18px; /* Tamaño de fuente para el resultado */
}
